@charset "utf-8";
/* 媒体查询 1 */
*{
	margin:0px;
	padding:0px;
	}
html{
	height:100%;
	width:100%;
	overflow:hidden;
}
html body{
	height:100%;
	width:100%;
	overflow:hidden;
}
#scroller{
	height:30%;
	width:90%;
	margin:20px auto 0px;
   overflow:hidden;
   position:relative;
}

#scroller ul{
	width:100%;
	height:100%;
  position:relative;
}
#scroller ul li{
	width:100%;
	height:100%;
    position:absolute;
    transition:transform 1s;
}
#scroller ul li:nth-child(1){
z-index:3;
	}
#scroller ul li:nth-child(2){
z-index:2;
	}
#scroller ul li:nth-child(3){
z-index:1;
	}
#scroller ul li.lunbo{
	transform:translateX(100%);
}
#index_nav{
	height:50%;
	width:80%;
	margin:5% auto 5%;
	padding:20px;
}
img{
	border:none;
	height:100%;
	width:100%;
	} 
html{
	height:100%;
	overflow:hidden!important;
	}
body{
	height: 100%;
	width: 100%;
	overflow: hidden!important;
	background:url(../image/system/index.png) no-repeat;
	background-size:100% 100%;
}
.class1{
	height:20%;
	width:80%;
	margin:10px auto 0px;
	border-radius:5px;
	}
.class1:nth-child(1){
	margin:10% auto 0px;
}
.class1:nth-child(2){

}
.class1:nth-child(3){
	
}
#left,#right{
}
.class1 #left{
	width:20%;
   height:100%;
   border:1px solid blue;
   float:left;
   }
.class1 #right{
	width:70%;
	height:100%;
	border:1px solid blue;
	float:right;
}
#right img{
	height:100%;
	width:100%;
	margin:0px;
	}
.