@charset "utf-8";
html{
	overflow:hidden;
    height:100%;
	width:100%;
}
body{
	height:100%;
	width:100%;
	overflow:scroll;
}
body h1{
	margin:20px 0 0;
	height:4em;
	width:55%;
	background:url(../../../../image/system/title.png) no-repeat;
	background-size:100% 100%;
    overflow:hidden;
}
body h1 p{
	height:1em;
	color:white;
}
body h1 p:nth-child(1){
	margin:0.75em auto 0 1em;
}
body h1 p:nth-child(2){
	margin:0.5em auto 0 1em;
}
body #id1{
	width:90%;
	height:30px;
	line-height:30px;
	margin:10px 5%;
}
body #id1 p{
}
body #id1 p input[type="text"]{
height:28px;
line-height:26px;
border:1px solid silver;
}
body #id1 p select{
height:26px;
line-height:26px;
}
/*
*name
*/
body #id1:nth-of-type(1) p:nth-of-type(1){
	width:40%;
	float:left;
}
body #id1:nth-of-type(1) p:nth-of-type(2){
	width:60%;
	float:left;
	}
body #id1:nth-of-type(1) p:nth-of-type(2) input{
	width:90%;
}
/*
*性别
*/
body #id1:nth-of-type(3) p:nth-of-type(1){
	width:40%;
	float:left;
}
body #id1:nth-of-type(3) p:nth-of-type(2){
		width:25%;
	   float:left;
}
body #id1:nth-of-type(3) p:nth-of-type(3){
		width:35%;
	line-height:30px;
	float:left;
}
body #id1:nth-of-type(3) p input{
	height:1em;
	width:1em;
	}
/*
*籍贯
*/
body #id1:nth-of-type(5) p:nth-of-type(1){
	width:40%;
	float:left;
}
body #id1:nth-of-type(5) p:nth-of-type(2){
	width:60%;
	float:left;
}
body #id1:nth-of-type(5) p:nth-of-type(2) input{
	width:90%;
}
/*
*生日
*/
body #id1:nth-of-type(7) p:nth-of-type(1){
	width:30%;
	float:left;
}
body #id1:nth-of-type(7) p:nth-of-type(2){
	width:70%;
	float:left;
	height:30px;
}
body #id1:nth-of-type(7) p:nth-of-type(2) select:nth-of-type(1){
	width:30%;
}
body #id1:nth-of-type(7) p:nth-of-type(2) select:nth-of-type(2){
	width:20%;
}
body #id1:nth-of-type(7) p:nth-of-type(2) select:nth-of-type(3){
	width:20%;
}
/*证件类型*/
body #id1:nth-of-type(9) p:nth-of-type(1){
	width:40%;
	float:left;
}
body #id1:nth-of-type(9) p:nth-of-type(2){
	width:60%;
	float:left;
}
body #id1:nth-of-type(9) p:nth-of-type(2) select{
	width:90%;
}
/*证件号码*/
body #id1:nth-of-type(11){
	height:60px;
}
body #id1:nth-of-type(11) p:nth-of-type(1){
	width:100%;
}
body #id1:nth-of-type(11) p:nth-of-type(2){
	width:100%;
}
body #id1:nth-of-type(11) p:nth-of-type(2) input{
	width:90%;
}
/*工作单位*/
body #id1:nth-of-type(13){
	height:60px;
}
body #id1:nth-of-type(13) p:nth-of-type(1){
	width:100%;
}
body #id1:nth-of-type(13) p:nth-of-type(2){
	width:100%;
}
body #id1:nth-of-type(13) p:nth-of-type(2) input{
	width:90%;
}
/*
*职业
*/
body #id1:nth-of-type(15) p:nth-of-type(1){
	width:40%;
	float:left;
}
body #id1:nth-of-type(15) p:nth-of-type(2){
	width:60%;
	float:left;
}
body #id1:nth-of-type(15) p:nth-of-type(2) input{
	width:90%;
}
/*
*学历
*/
body #id1:nth-of-type(17) p:nth-of-type(1){
	width:40%;
	float:left;
}
body #id1:nth-of-type(17) p:nth-of-type(2){
	width:60%;
float:left;
}
body #id1:nth-of-type(17) p:nth-of-type(2) select{
	width:90%;
}
/*
*昵称
*/
body #id1:nth-of-type(19) p:nth-of-type(1){
	width:40%;
float:left;}
body #id1:nth-of-type(19) p:nth-of-type(2){
	width:60%;
float:left;}
body #id1:nth-of-type(19) p:nth-of-type(2) input{
	width:90%;
}
/*身高*/
body #id1:nth-of-type(21) p:nth-of-type(1){
	width:40%;
float:left;}
body #id1:nth-of-type(21) p:nth-of-type(2){
	width:60%;
float:left;}
body #id1:nth-of-type(21) p:nth-of-type(2) input{
	width:40%;
}
/*体重*/
body #id1:nth-of-type(23) p:nth-of-type(1){
	width:40%;
float:left;}
body #id1:nth-of-type(23) p:nth-of-type(2){
	width:60%;
float:left;}
body #id1:nth-of-type(23) p:nth-of-type(2) input{
	width:40%;
}
/*月收入*/
body #id1:nth-of-type(25) p:nth-of-type(1){
	width:40%;
float:left;}
body #id1:nth-of-type(25) p:nth-of-type(2){
	width:60%;
float:left;}
body #id1:nth-of-type(25) p:nth-of-type(2) select{
	width:50%;
}
/*是否独生子女*/
body #id1:nth-of-type(27) p:nth-of-type(1){
	width:40%;
float:left;}
body #id1:nth-of-type(27) p:nth-of-type(2){
	position:relative;
	width:20%;
	float:left;
}
body #id1:nth-of-type(27) p:nth-of-type(3){
	width:40%;
float:left;
position:relative;
	}
body #id1:nth-of-type(27) p:nth-of-type(2) input{
	position:absolute;
	height:12px;
	width:12px;
	top:9px;
   left:-12px;
}
body #id1:nth-of-type(27) p:nth-of-type(3) input{
	position:absolute;
	height:12px;
	width:12px;
	top:9px;
}
body #id1:nth-of-type(27) p:nth-of-type(3) select{
	position:absolute;
	height:20px;
	width:100px;
	top:5px;
	left:12px;	
	}
/*婚姻状况*/
body #id1:nth-of-type(29) p:nth-of-type(1){
	width:40%;
float:left;}
body #id1:nth-of-type(29) p:nth-of-type(2){
	width:60%;
float:left;}
body #id1:nth-of-type(29) p:nth-of-type(2) select{
	width:90%;
	height:30px;
}
/*是否有小孩*/
body #id1:nth-of-type(31) p:nth-of-type(1){
	width:60%;
float:left;}
body #id1:nth-of-type(31) p:nth-of-type(2){
	width:40%;
float:left;}
body #id1:nth-of-type(31) p:nth-of-type(2) select{
	width:90%;
	height:30px;
}
body #id1:nth-of-type(33) p:nth-of-type(1){
	width:40%;
float:left;}
body #id1:nth-of-type(33) p:nth-of-type(2){
	width:60%;
float:left;}
body #id1:nth-of-type(33) p:nth-of-type(2) input{
	width:90%;
}
body #id1:nth-of-type(35) p:nth-of-type(1){
	width:40%;
float:left;}
body #id1:nth-of-type(35) p:nth-of-type(2){
	width:60%;
float:left;}
body #id1:nth-of-type(35) p:nth-of-type(2) input{
	width:90%;
}
body #id1:nth-of-type(37) p:nth-of-type(1){
	width:40%;float:left;
}
body #id1:nth-of-type(37) p:nth-of-type(2){
	width:60%;float:left;
}
body #id1:nth-of-type(37) p:nth-of-type(2) input{
	width:90%;
}
body #id1:nth-of-type(39) p:nth-of-type(1){
	width:40%;float:left;
}
body #id1:nth-of-type(39) p:nth-of-type(2){
	width:60%;float:left;
}
body #id1:nth-of-type(39) p:nth-of-type(2) input{
	width:90%;
}
/*文件块*/
body #id1:nth-of-type(41){
	height:200px;
}
body #id1:nth-of-type(41) p:nth-of-type(1){
	width:100%;
}
body #id1:nth-of-type(41) p:nth-of-type(2){
	width:100%;
}
body #id1:nth-of-type(41) p:nth-of-type(2) input{
	width:60%;	
}
body #id1:nth-of-type(41) p:nth-of-type(2) input:nth-child(2),body #id1:nth-of-type(41) p:nth-of-type(2) input:nth-child(4),body #id1:nth-of-type(41) p:nth-of-type(2) input:nth-child(6){
		width:20%;
		border-radius:5px;
		background:rgba(255,100,100,.5);
}

body .p2{
	height:40px;
	padding-top:5px;
	padding-bottom:5px;
}
body .p2 label{
width:30%;
height:100%;
float:left;
}
body .p2 label img{
width:100%;
height:90%;
}
body .p2 .image_show{
height:100%;
width:30%;
float:left;
}
body .p2 .image_show p{
	width:100%;
	height:100%;
	line-height:40px;
	overflow:hidden;
}
body .p2:nth-of-type(1){
	border:red solid 1px;
}
body .p2 input{
	float:left;
	width:20%;
	border-radius:5px;
	background:#cc9966;
    height:40px;
    margin:0 10%;
}
body .p1{
	height:20px;
	line-height:20px;
	color:rgba(0,0,0,.5);
	width:90%;
	margin:auto 5%;
    display:none;
}
body .p1:nth-of-type(42){
	height:60px;
	line-height:20px;
    display:none;
    color:red;
    width:90%;
	margin:auto 5%;
}
body #prop{
	position:fixed;
	width:100%;
	height:100%;
	z-index:10;
	top:0;
	left:0;
	background:none;
	
}
body #prop #nav{
	width:10em;
	height:10em;
	position:absolute;
	background:none;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity:1!important;
	z-index:11;
	}
	body #prop #nav p:nth-child(1){
   height:8em;
   width:100%;
	}
	body #prop #nav p:nth-child(2){
   height:2em;
   width:100%;
   text-align:center;
   line-height:2em;
   background:black;
   opacity:.8;
   border-radius:50px;
   color:#cc9966;
	}
	
body #footer{
	font-size:14px;
	width:17em;
	height:3em;
    padding:0 0 1em;
    margin:0 auto;
    position:relative;
}
body #footer #submit,body #footer #reset{
	width:8em;
	height:2em;
	word-spacing:1em;
	text-align:center;
	line-height:2em;
	font-size:1em;
	border-radius:10px;
	background:#C8AE66;
	opacity:0.8;
	margin-top:1em;
	font-weight:800;
	color:white;
	float:left;
	position:absolute;
}
body #footer #submit{
	background:rgba(200,0,20,.8);
	left:0;
	word-spacing:5px;
}
body #footer #reset{
right:0;
opacity:1;
	}