@charset "utf-8";
@import url(../../main/Yuewo/date_state.css);
@import url(../../main/Yuewo/date_table.css);
@import url(../../main/Yuewo/top.css);
@import url(./nav1.css);
html{
	height:100%;
	overflow:hidden;
	width:100%;
}
body{
	height:100%;
	width:100%;
	overflow:scroll;
	overflow-x:hidden;
	background:silver;
}
#main{
	margin:1em auto;
	width:100%;
}