@charset "utf-8";
#date_state table{
height:5em;
width:100%;
background:white;
}
#date_state table tr:nth-of-type(1){
	height:3em;
}
#date_state table tr:nth-of-type(1) td{
	height:3em;
	width:25%;
}
#date_state table tr:nth-of-type(1) p{
	height:2em;
	width:2em;
	margin:auto;
	border-radius:50%;
}
#date_state table tr:nth-of-type(1) td:nth-child(1) p{
	background:silver;
}
#date_state table tr:nth-of-type(1) td:nth-child(2) p{
	background:silver;
}
#date_state table tr:nth-of-type(1) td:nth-child(3) p{
	background:silver;
}
#date_state table tr:nth-of-type(1) td:nth-child(4) p{
	background:silver;
}
#date_state table tr:nth-of-type(2){
	height:1.5em;
}
#date_state table tr:nth-of-type(2) td{
	height:1.5em;
	width:25%;
	position:relative;
}
#date_state table tr:nth-of-type(2) p{
	height:1em;
	width:3em;
	position:absolute;
	margin:0px auto;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
.red{
	background:red!important;
}