@charset "utf-8";
@import "../main/table.css";
@import "../main/footer.css";
html{
	height:100%;
	overflow:hidden;

}
body{
	height:100%;
	overflow:hidden;
}
body #top{
	height:90%;
	width:100%;
	overflow:scroll;
	overflow-x:hidden;
}
body #top h1{
	height:2em;
	margin:1em 1em 0px;
}
body #top h1 .style{
	color:#cc9966;
	display:inline;
}