@charset "utf-8";
@import url(../main/date_state.css);
@import url(../main/date_table.css);
html{
	height:100%;
	overflow:hidden;
	width:100%;
}
body{
	height:100%;
	width:100%;
	overflow:scroll;
	overflow-x:hidden;
	background:silver;
}
body #top{
	height:30%;
	width:100%;
}
body #top .one,body #top .two,body #top .three{
	position:relative;
	float:left;
}
body #top .one{
	width:30%;
	height:100%;
}
body #top .one img{
	width:4em;
	height:4em;
	border:2px solid #cc9966;
	border-radius:50%;
	position:absolute;
	margin:auto;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}
body #top .two{
	width:30%;
height:100%;
}
body #top .two h1{
	width:100%;
	height:1.5em;
	line-height:1.5em;
	position:absolute;
	margin:auto;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	text-align:center;
}
body #top .three{
	width:40%;
	height:100%;
	overflow:hidden;
}
body #top .three h2{
	background:black;
	width:8em;
	height:1.5em;
	line-height:1.5em;
	position:absolute;
	margin:auto;
	top:50%;
	bottom:0px;
	left:8em;
	right:0px;
	text-align:right;	
	border-radius:50% 0px 0px 50%;
	color:white;
}
#nav1{
	height:2em;
	background:white;
	line-height:2em;
}
#nav1 h1{
	height:1em;
	width:6em;
	float:left;
}
#nav1 p{
	height:1em;
	width:10em;
	float:right;
	color:silver;
	font-weight:bold;
	opacity:0.7;
}
#date_state{
	margin:1.5em auto 0px;
	
}
#main{
	margin:1em auto;
	width:100%;
}