@charset "utf-8";
html{
	height:100%;
	width:100%;
font-family:"雅黑";
}
body{
	height:100%;
	width:100%;
	overflow:hidden;
	overflow-y:scroll;
}
body #title{
	height:60px;
	width:40%;
	padding:10px 0 0 10%;
	background:url(../../../../image/system/title.png) no-repeat;
	background-size:100% 100%;
	color:white;
}
body #title p{
margin:0 auto 5px;
}
body #nav h1{
	margin:1em auto;
}
body #nav p{
	margin:0 auto 0.5em;
}