@charset "utf-8";
html{
	height:100%;
	width:100%;
}
body{
	height:100%;
	width:100%;
	overflow:hidden;
	overflow-y:scroll;
}
body #top{
	padding:2em 1em;
}
body #nav{
	font-size:1.5em;
	width:80%;
	margin:auto;
	padding:2em 1em;
	line-height:2em;
	text-indent:2em;
	border:double 5px #D4B360;
	max-height:40%;
	overflow:hidden;
	overflow-y:scroll;
}
body #footer{
margin-top:5em;
}
body #footer #submit{
	background:#C3A54D;
   width:50%;
   margin:auto;
   border-radius:2px;
   cursor:pointer;
}
body #footer #submit p:nth-of-type(1){
	font-size:1.5em;
	color:white;
	word-spacing:10px;
    font-weight:800;
    text-align:center;
    padding:0.5em 0 0;
}
body #footer #submit p:nth-of-type(2){
   color:white;
   padding:0 0 1em;
    text-align:center;
    }

