@charset "utf-8";
html{
	height:100%;
	width:100%;
	font-size:16px;
}
body{
	height:100%;
	width:100%;
	overflow:auto;
}
body #image{
	width:100%;
	height:80%;
	overflow:hidden;
	background:rgba(192,192,192,1);
}
body #image1{
	width:95%;
	height:95%;
	background:white;
	overflow:scroll;
	overflow-x:hidden;
	margin:2.5%;
}
body #image #image1 h1:nth-child(1){
	color:#C8AE66;
	margin:15px auto 15px;
}
body #image #image1 h1:nth-child(2){
	margin-bottom:1em;
}
body #image #image1 h1:nth-child(2) p{
	text-align:center;
	height:1em;
}
body #image #image1 p{
	font-size:1em;
	line-height:1.5em;
	margin:0.3em 5% 0px;
	text-indent:2em;
	
}
body #check_nav{
	height:64px;
	font-size:14px;
	margin-top:10px;
}
body #check_nav input[type="checkbox"]{
}
body #check_nav  p:nth-child(1){
text-align:center;
height:1em;
line-height:1.5em;
	}
body #check_nav  p:nth-child(2){
text-align:center;
height:1em;
line-height:1.5em;
	}
body #footer{
	text-align:center;
	height:10%;
	position:relative;
   width:100%;
}

body #footer form{
}
body #footer #button{
position:absolute;
width:128px;
height:32px;
border-radius:10px;
background:#C8AE66;
color:white;
font-size:16px;
line-height:32px;
font-weight:bold;
margin:0 auto;
top:0px;
left:0px;
bottom:0px;
right:0px;
cursor:pointer;
word-spacing:5px;
}