@charset "utf-8";
@import url("../../main/admin/span.css");
html{
	height:100%;
	width:100%;
}
body{
	height:100%;
	width:100%;
	overflow:hidden;
	overflow-y:scroll;
}
#top{
	float:left;
	background:silver;
	height:10%;
	width:100%;
}
#nav{
	float:left;
	width:100%;
}
#nav .item{
	border:blue solid 2px;
}
#nav .item h1{
margin:0;
padding:0;
width:100%;
height:30px;
line-height:30px;
border:2px blue solid;

}
#nav form{
}
#nav .item table{
	width:100%;

}
#nav .item table tr{
border:2px blue solid;
}
#nav  .item table tr td{
border:2px blue solid;
}
#nav .item table tr:nth-of-type(1){
	border:red 5px green;
}

#nav .item table tr:nth-of-type(1) td:nth-of-type(1){
	height:200px;
	width:150px;
	border:red 5px green;
}
#nav .item table tr:nth-of-type(1) td:nth-of-type(1) img{
	width:100%;
	height:100%;
	border:red 5px green;
}
#nav .item table tr:nth-of-type(2){
}
#nav .item table tr:nth-of-type(3){
}
#nav .item table tr:nth-of-type(4){
}
#nav .item table tr:nth-of-type(5){
}
#nav #bottom{
	margin:0 auto 1em;
	height:2em;
	width:100%;
	
}
#nav #bottom ul{
	list-style:none;
	width:100%;
	height:100%;
}
#nav #bottom ul li{
	float:left;
	width:33%;
	height:100%;
	position:relative;
}
#nav #bottom ul li p{
	position:absolute;
	margin:auto;
	width:6em;
	height:1.5em;
	background:#cc9966;
	border-radius:50px;
	text-align:center;
	line-height:1.5em;
}
#nav #bottom ul li p a:link{
	text-decoration:none;
	color:color;
}
#nav #bottom ul li p a:hover{
	color:color;
}
#nav #bottom ul li p a:visited{
	color:color;
}
#nav #bottom ul li p a:active{
	color:color;
}
#nav #bottom ul li:nth-of-type(2) p:nth-of-type(1){
	width:100px;
}
#nav #bottom ul li:nth-of-type(2) p:nth-of-type(2){
	width:50px;
}
#nav #bottom ul li:nth-of-type(2){
	position:relative;
}
#nav #bottom ul li:nth-of-type(2) #title{
	position:absolute;
	width:200px;
	height:30px;
	position:absolute;
	text-align:center;
	background:#cc9966;
	color:white;
	font-weight:800;
	line-height:30px;
}
#nav #bottom ul li:nth-of-type(2) #change{
	width:300px;
	height:200px;
	position:absolute;
	top:-200px;
	left:-50px;
	display:none;
	background:#cc9966;
}
#nav #bottom ul li:nth-of-type(2) #change p:nth-of-type(1){
	width:100%;
	height:30px;
	border-radius:none;
	text-align:center;
	top:20px;
	
}
#nav #bottom ul li:nth-of-type(2) #change p:nth-of-type(1) input{
	width:200px;
	height:30px;
	border-radius:none;	
}
#nav #bottom ul li:nth-of-type(2) #change p:nth-of-type(2){
	width:100%;
	height:30px;
	background:blue;
	bottom:10px;
	color:white;
	word-spacing:40px;
	cursor:pointer;
}
#nav #span{
	height:30px;
	width:100%;
}

#footer{
	background:silver;
	height:50px;
	width:100%;
	float:left;
	position:relative;
}
#footer #batch_submit,#footer #reset{
	height:30px;
	width:100px;
	background:#cc9966;
	position:absolute;
     top:10px;
     text-align:center;
     line-height:30px;
     font-weight:800;
     border-radius:5px;
}
#footer #batch_submit{
	left:30%;
	letter-spacing:5px;
}
#footer #reset{
	right:30%;
	word-spacing:20px;
}