@charset "utf-8";
#span ul{
	list-style:none;
	height:30px;
	margin:0;
	padding:0;
}
#span ul li{
	margin:0;
	padding:0;
	float:left;
	width:20%;
	height:100%;
}
#span ul li a{
	text-algin:center;
}