@charset "utf-8";
html{
	height:100%;
	width:100%;
}
body{
	height:100%;
	width:100%;
	overflow:hidden;
	overflow-y:scroll;
}
body #title{
	height:100px;
	width:100%;
	text-align:center;
	word-spacing:16px;
	font-size:32px;
	border-bottom:#c3a54d 2px dashed;
	color:#cc9966;
	
    position:relative;
}
body #title h1{
	width:250px;
	height:50px;
	font-size:32px;
	line-height:50px;
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
body #nav{
	width:100%;
	height:400px;
	font-size:16px;
	position:relative;
}
body #nav p{
	width:80%;
    line-height:2em;
    position:absolute;
    padding:1em 1em;
    height:120px;
    text-indent:2em;
    margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	border:#C3A54D 2px solid;
}
body #footer{
	width:100%;
	height:200px;
	font-size:16px;
}
body #footer #submit{
	width:192px;
	height:64px;
	font-weight:800;
	line-height:64px;
	word-spacing:16px;
	text-align:center;
	background:#C3A54D;
	margin:auto;
}