@charset "utf-8";
html{
	height:100%;
	width:100%;
font-family:"雅黑";
}
body{
	height:100%;
	width:100%;
	overflow:hidden;
	overflow-y:scroll;
}
body #nav{
	width:90%;
	margin:auto;
}
body #nav #title{
	margin:20px 0 0;
	height:80px;
	width:100%;
}
body #nav #title h1:nth-of-type(1){
	height:60px;
	width:50%;
	background:url(../../../../image/system/title.png) no-repeat;
	background-size:100% 100%;
    overflow:hidden;
    float:left;
}
body #nav #title h1:nth-of-type(1)  p{
	height:1em;
	color:white;
}
body #nav #title h1:nth-of-type(1) p:nth-child(1){
	margin:0.75em auto 0 1em;
}
body #nav #title h1:nth-of-type(1) p:nth-child(2){
	margin:0.5em auto 0 1em;
}
body #nav #title h1:nth-of-type(2){
   height:20px;
	width:100%;
	overflow:hidden;
    border:2px #cc9966 solid;
}
body #nav #title h1:nth-of-type(2) marquee{
	height:100%;
	width:100%;
}
body #nav #title h1:nth-of-type(2) p{
	font-size:5px;
	color:red;
}
body #nav #id1{
	height:30px;
   width:100%;
   margin:1em auto 0;
}
body #nav #id1 p{
float:left;
line-height:30px;
}
body #nav #id1 p:nth-of-type(1){
	width:40%;
	height:100%;
	line-height:30px;
}
body #nav #id1 p:nth-of-type(2){
	width:60%;
	height:100%;
}
body #nav #id1 p:nth-of-type(2) input[type="text"]{
width:100%;
height:26px;
line-height:26px;
	}
body #nav .p1{
 height:30px;
 width:95%;
 margin:10px auto 0;
 line-height:30px;
 border:2px #C8AE66 solid;
 text-indent:2em;
 color:#C8AE66;
 display:none;
}
body #nav .p1 p{
height:100%;
line-height:30px;
 margin:0;
 padding:0;
}
body #nav #id1:nth-of-type(1){
}
body #nav #id1:nth-of-type(1) p:nth-child(1){
width:30%;
height:100%;
	}
body #nav #id1:nth-of-type(1) p:nth-child(2){
width:70%;
height:100%;
}
body #nav #id1:nth-of-type(3){

	}
body #nav #id1:nth-of-type(3) p:nth-of-type(2){
width:30%;
height:100%;
	}
body #nav #id1:nth-of-type(3) p:nth-of-type(3){
width:30%;
height:100%;
}
body #nav #id1:nth-of-type(5){
}
body #nav #id1:nth-of-type(5) p:nth-of-type(1){
height:100%;
width:30%;
	}
body #nav #id1:nth-of-type(5) p:nth-of-type(2){
height:100%;
width:70%;
	}
body #nav #id1:nth-of-type(5) p:nth-of-type(2) select:nth-of-type(1){
height:100%;
width:40%;
}
body #nav #id1:nth-of-type(5) p:nth-of-type(2) select:nth-of-type(2){
height:100%;
width:25%;
}
body #nav #id1:nth-of-type(5) p:nth-of-type(2) select:nth-of-type(3){
height:100%;
width:25%;
}
body #nav #id1:nth-of-type(7){
}
body #nav #id1:nth-of-type(7) p:nth-of-type(2){
height:100%;
width:60%;
	}
body #nav #id1:nth-of-type(7) p:nth-of-type(2) select{
height:100%;
width:100%;
	}
body #nav #id1:nth-of-type(9){
	height:70px;
}
body #nav #id1:nth-of-type(9) p{
	clear:left;
}
body #nav #id1:nth-of-type(9) p:nth-of-type(1){
	width:70%;
	height:30px;
}
body #nav #id1:nth-of-type(9) p:nth-of-type(2){
width:100%;
height:30px;
margin-top:5px;
}
body #nav #id1:nth-of-type(11){
}
body #nav #id1:nth-of-type(13){
}
body #nav #id1:nth-of-type(15){
}
body #nav #id1:nth-of-type(17){
}
body #nav #id1:nth-of-type(19){
}
body #footer{
	margin:20px auto;
	height:50px;
	width:100%;
	position:relative;
}
body #footer #submit{
	position:absolute;
	height:2em;
	width:8em;
text-align:center;
background:rgba(200,0,20,.8);
border-radius:10px;
line-height:2em;
color:white;
font-weight:800;
margin:auto;
top:0;
bottom:0;
right:0;
left:-12em;
cursor:pointer;
}
body #footer #reset{
	position:absolute;
	height:2em;
	width:8em;
	text-align:center;
	background:#C8AE66;
	border-radius:10px;
line-height:2em;
color:white;
font-weight:800;
margin:auto;
top:0;
bottom:0;
right:0;
left:12em;
cursor:pointer;
}