@charset "utf-8";
html{
	height:100%;
	overflow:hidden;
	font-size:16px;
}
body{
	height:100%;
	overflow:scroll;
	overflow-x:hidden;
}
body .list{
	margin:1em auto 0;
}
body h3{
	font-size:1em;
	line-height:1.5em;
	border:3px dashed silver;
	width:95%;
	margin:auto;
	padding:0.4em 0.5em;
}
body h2{
	text-align:center;
	background:#cc9966;
	color:white;
	width:40%;
	padding:1em 0px;
	margin:1em 4%;
}
body #nav{
	width:90%;
	margin:0px 5%;
	}
body p{
	line-height:20px;
	font-size:0.8em;
	margin:5px 0;
}
body .list h1{
	font-family:"雅黑";
}
body .list:nth-of-type(14) input{
	width:4em;
}
body #footer{
	text-align:center;
	height:3em;
	position:relative;
	padding-bottom:3em;
}
body #footer #submit,body #footer #reset{
	width:8em;
	height:2em;
	font-size:1em;
	line-height:2em;
	border-radius:50px;
	background:#cc3333;
	margin:auto;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	color:white;
	font-weight:800;
	cursor:pointer;
}
body #footer #submit{
	left:-10em;
}
body #footer #reset{
	background:#cc9966;
	word-spacing:16px;
	left:10em;
}
body textarea{
	height:100px;
	width:100%;
	border:none;
}
p#nineteen,p#twenty{
	border:2px silver solid;
}
